.footer{
    background:   #20c997;;
    color:white;
}
    
      ul{
        list-style: none;
   
     }
     /* #152F4F  */
      li a{
        color: white;
        transition: color .2s;}
      
      
    
    .about-company{
      ifont-size: 25px;}
     
      a:hover{
        color:white;
        transition: color .2s;
        color:#4180CB
    } 
    .location{
      font-size: 18px;
    }
    .copyright p{
        
        border-top:1px solid rgba(255,255,255,.1);
    

    } 
  